
:root {
    --app-accent: #57664C;
    --app-bg: #F8FAF9 ;
    --app-font: 'Inter, system-ui, -apple-system, "Segoe UI", Roboto';
}

/* Apply the page background and font using variables.
   Note: If a component uses a Tailwind background class like `bg-gray-50`,
   that will override the body background. Remove that class to use this variable.
*/
body {
  background-color: var(--app-bg);
  font-family: var(--app-font);
}

#root { 
  max-width: 1280px;
  margin: 0 auto; /* Can add background color or font color here*/
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.typing-dot {
  animation: typingAnimation 1.4s infinite ease-in-out;
  background: var(--app-accent);
  padding: 0.50rem;
  margin-left: 25px;
  width: 9px;
  height: 9px;
  border-radius: 999px;;
}

.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}

.message-bubble {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  max-width: 75%;
  line-height: 1.3;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

.message-bot {
  background-color: #57664C;
  color: #f9fafc;
  border: 1px solid #E5e7eb;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.message-user {
  background: #80AD9B;
  color: #1d1d1e;
  margin-right: 2rem;
  margin-left: 0.5rem;
  box-shadow: 0 1px 3px rgba(37,99,235,0.12);
}


@keyframes typingAnimation {
  0%, 60%, 100% {
    transform: translateY(0);
    opacity: 0.6;
  }
  30% {
    transform: translateY(-4px);
    opacity: 1;
  }
}
